* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

html {
  height: 100vh;
}
html body {
  height: 100%;
  width: 100%;
}
html body header {
  width: 20%;
  height: 97%;
}
html body main {
  height: 97%;
  width: 80%;
}
html body footer {
  height: 3%;
  width: 100%;
}

/*TEST SETTINGS BOX*/
/* html {
    border-style: dashed;
    border-color: greenyellow
}

body {
    border-style: dashed;
    border-color: red
}

header {
    border-style: dashed;
    border-color: orange;
}

main {
    border-style: dashed;
    border-color: aqua;
    background-color: pink;
} */
/*MAIN BACKGROUND IMAGES*/
.index-main-background {
  background-image: url("../assets/img/Fondo Chico Color.jpg");
  background-size: cover;
}

.retrato-main-background {
  background-image: url("../assets/img/Fondo Chicho Bn.jpg");
  background-size: cover;
}

.books-main-background {
  background-image: url("../assets/img/Fondobook.jpg");
  background-size: cover;
}

.tienda-main-background {
  background-image: url("../assets/img/Fondo Estudio Color.jpg");
  background-size: cover;
}

.contacto-main-background {
  background-image: url("../../assets/img/Fondo Contacto.jpg");
  background-size: cover;
}

/*HEADER EN _NAVBAR.SCSS*/
/*FOOTER STYLES*/
footer p {
  color: aliceblue;
  margin-bottom: 0;
}
footer aside {
  max-height: 3vh;
}

body {
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
}

.main-articulo {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1%;
  align-items: center;
  padding-left: 2%;
}

.contenedor-galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  align-content: center;
  justify-content: center;
}

header {
  display: grid;
  grid-template-areas: "logo" "nav" "none" "aside";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.contenedor-logo {
  grid-area: logo;
}

nav {
  grid-area: nav;
}

#redes {
  grid-area: aside;
}

/*
.main-retrato { COMENTADO PORQUE BOOTSTRAP TIENE SU PROPIA LIBRERIA SOBRE GRID, Y LA VERDAD ES QUE SI LO DESACTIVO ANDA MEJOR
    display: grid;
    grid-template-areas: "retrato-info retrato-info retrato-info" "carousel carousel carousel" "carousel carousel carousel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    align-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
*/
#retrato-articulo-info {
  grid-area: retrato-info;
}

#contenedor-carousel {
  grid-area: carousel;
}

/*CONTENEDOR GALERIA ESTA UBICADO DE MOMENTO, SOLO EN BOOKS.HTML*/
/*A continuacion intentare armar lo intencionado con flexbox en tienda.html, y este sistema en grid quedara en stand by. */
header {
  background-color: rgb(0, 0, 0);
}
header .contenedor-logo {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 50%;
}
header .contenedor-logo img {
  width: 100%;
  display: flex;
  justify-items: center;
}
header nav {
  display: flex;
  grid-area: nav;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 80%;
  justify-content: center;
}
header nav ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2rem;
  line-height: 6vh;
  list-style: none;
  font-weight: 700;
  font-size: 1.2rem;
  color: grey;
  padding: 0;
}
header nav ul a {
  text-decoration: none;
  color: grey;
}
header nav ul a a:visited {
  text-decoration: none;
}
header nav ul a .nav-a-onhover-bigger:hover {
  font-size: larger;
  color: aliceblue;
}

/* BOTON USADO EN INDEX MAIN: me copie el style de stackoverflow*/
.button-50 {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  display: flex;
  flex-direction: row-reverse;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 15px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.button-50 a:visited {
  text-decoration: none;
}

/*CARROUSELL*/
#contenedor-carousel {
  margin: 5%;
  align-self: center;
  width: 50%;
  box-shadow: 0 0 40px 20px rgb(34, 34, 34);
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*Imagenes de BOOKS.HTML */
/* .books {
    img {
        max-width: 100%;
        align-self: center;
        justify-self: center;
    }
} */
/* Galeria de Imagenes para books.html y tienda.html */
.contenedor-galeria {
  align-self: center;
  width: 95%;
  height: 73%;
}
.contenedor-galeria img {
  width: 16%;
  border-style: groove;
  border-color: aliceblue;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

/*Logo Instgram del Footer*/
footer aside a img {
  max-height: 2vh;
}

.encajar-a-contenedor {
  width: 100%;
}

.main-articulo {
  color: white;
  padding: 1rem;
  width: 80%;
  height: 25%;
  text-shadow: 2px 2px 2px #000000;
}
.main-articulo a {
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.book-articulo {
  color: white;
  padding: 1rem;
  width: 80%;
  height: 25%;
  text-shadow: 2px 2px 2px #000000;
}

p {
  font-size: 1.2rem;
}

h2 {
  line-height: 5rem;
  font-size: 2rem;
  color: aliceblue;
  font-weight: bold;
}

h3 {
  line-height: 3rem;
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
}

.contacto-articulo {
  margin: 2%;
  padding: 1.5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  width: 90%;
  height: 40%;
  align-self: left;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 0.1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  padding: 1% 1% 2%;
  font-size: 1vw;
  color: aliceblue;
  width: 100%;
  height: 85%;
  border-color: rgb(97, 97, 97);
}
fieldset #contenedor-consulta {
  height: 80%;
  width: 60%;
}
fieldset #form-consulta-area {
  height: 100%;
  width: 100%;
}

.lista-formulario {
  padding: 0.5vw;
}
.lista-formulario input {
  background-color: rgba(255, 255, 255, 0.5);
}
.lista-formulario select {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 576px) {
  .button-50 {
    padding: 8px 30px;
    margin-top: 3vh;
  }
  body {
    width: 100vw;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 35vh;
    justify-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .seccion-navegacion__logo {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    width: 20vh;
  }
  .seccion-navegacion__logo a img {
    width: 15vh;
  }
  header nav ul {
    width: 90%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }
  header nav ul li a:hover {
    color: azure;
  }
  .index-main-background {
    background-image: url("../assets/img/Fondo Vertical Chicho Color.jpg");
    background-size: cover;
  }
  main {
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .main-article {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 5vw;
    padding: 8vw;
    align-self: flex-end;
    font-size: 1rem;
    justify-self: end;
    width: 60vw;
    height: 35vh;
  }
  footer {
    width: 100vw;
  }
  .retrato-main-background {
    background-image: url("../assets/img/Fondo Vertical Maca Bn.jpg");
    background-size: cover;
  }
  #retrato-contenedor-carousel {
    width: 100%;
  }
  .retrato {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
    align-items: center;
  }
  #retrato-articulo-info {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 10vw;
    padding: 8vw;
  }
  .contacto-main-background {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/Fondo Paisaje Color.jpg");
    background-size: cover;
  }
  .contacto-article {
    margin-top: 15vh;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5vw;
    width: 70%;
    height: 50vh;
    align-self: center;
    padding: 6vw;
  }
  .contacto-article h2 {
    font-size: 2rem;
    color: aliceblue;
  }
  .contacto-article fieldset {
    font-size: 1.5rem;
    color: aliceblue;
    padding: 2.5vw;
    width: 100%;
  }
  .lista-formulario {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */