body {
    display: flex;
    flex-wrap: wrap;
}

main {
    @include flex-column;
}

.main-articulo {
    @include flex-column;
    gap: 3rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 2%;
    gap: 1%;
    background-color: #000;
}

.contenedor-galeria {
    @include flex-row-center-content;
    gap: 1%;
}
