header {
    display: grid;
    grid-template-areas: "logo" "nav" "none" "aside";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.contenedor-logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

#redes {
    grid-area: aside;
}


/*
.main-retrato { COMENTADO PORQUE BOOTSTRAP TIENE SU PROPIA LIBRERIA SOBRE GRID, Y LA VERDAD ES QUE SI LO DESACTIVO ANDA MEJOR
    display: grid;
    grid-template-areas: "retrato-info retrato-info retrato-info" "carousel carousel carousel" "carousel carousel carousel";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    align-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
*/

/* #retrato-articulo-info {
    grid-area: retrato-info;
}

#contenedor-carousel {
    grid-area: carousel;
} */


/*CONTENEDOR GALERIA ESTA UBICADO DE MOMENTO, SOLO EN BOOKS.HTML*/
/*A continuacion intentare armar lo intencionado con flexbox en tienda.html, y este sistema en grid quedara en stand by. */
