header {
    display: grid;
    grid-template-areas: "logo" "nav" "none" "aside";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.contenedor-logo {
    grid-area: logo;
}

nav {
    grid-area: nav;
}

#redes {
    grid-area: aside;
}
