.retrato img {
    width: 100%;
    align-self: center;
    justify-self: center;
}

.books img {
    width: 100%;
    align-self: center;
    justify-self: center;
}

footer aside a img {
    max-height: 2vh;
}
