.encajar-a-contenedor {
    width: 100%;
}

.main-articulo {
    color: map-get($mapaTexto, colorWhite);
    text-shadow: map-get($mapaTexto, sombra);
    padding: 1rem;
    width: 80%;
    height: 25%;

    a {
        color: map-get($mapaTexto, colorWhite);
        text-decoration: none;
        border-radius: 2rem;
        display: flex;
        flex-direction: row-reverse;
    }
}

.book-articulo {
    color: map-get($mapaTexto, colorWhite);
    text-shadow: map-get($mapaTexto, sombra);
    padding: 1rem;
    width: 80%;
    height: 25%;
}

p {
    font-size: map-get($mapaTexto, sizeBig);
}

h2 {
    font-size: map-get($mapaTexto, sizeBigger);
    color: map-get($mapaTexto, colorWhite);
    line-height: 5rem;
    font-weight: bold;
}

h3 {
    color: map-get($mapaTexto, colorWhite);
    font-size: map-get($mapaTexto, sizeBigger);
    line-height: 3rem;
    font-weight: bold;
}

.contacto-articulo {
    text-shadow: map-get($mapaTexto, sombraLarger);
    margin: 2%;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    width: 90%;
    height: 40%;
    align-self: left;
    letter-spacing: 0.1rem;
}

fieldset {
    color: map-get($mapaTexto, colorWhite);
    font-size: map-get($mapaTexto, sizeLarger);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 1% 1% 2%;
    width: 100%;
    height: 85%;
    border-color: rgb(97, 97, 97);

    #contenedor-consulta {
        height: 80%;
        width: 60%;
    }

    #form-consulta-area {
        height: 100%;
        width: 100%;
    }
}

.lista-formulario {
    padding: 0.5vw;

    input {
        background-color: rgba($color: #ffffff, $alpha: 0.5);
    }

    select {
        background-color: rgba($color: #ffffff, $alpha: 0.5);
    }
}
