@media screen and(max-width: 576px) {
    /*BLOQUES RESIZE*/

    html {
        height: auto;

        body {
            height: 100%;
            width: 100%;

            header {
                width: 100%;
                height: 33vh;
                nav {
                    padding: 0;
                }
            }

            main {
                height: 90vh;
                width: 100%;
            }

            footer {
                height: 4vh;
                width: 100%;
            }
        }
    }

    /*MAINS BACKGROUND*/

    .index-main-background {
        background-image: url("../assets/img/Fondo\ Vertical\ Chicho\ Color.jpg");
        background-size: cover;
    }

    .retrato-main-background {
        background-image: url("../assets/img/Fondo\ Vertical\ Maca\ Bn.jpg");
        background-size: cover;
    }

    .books-main-background {
        background-image: url("../assets/img/Fondobook\ Vertical.jpg");
        background-size: cover;
    }

    .tienda-main-background {
        background-image: url("../assets/img/Fondo\ Estudio\ Vertical\ Color.png");
        background-size: cover;
    }

    .contacto-main-background {
        background-image: url("../assets/img/Fondo\ Contacto\ Vertical.jpg");
        background-size: cover;
    }

    /*BLOQUES LAYOUT*/

    html {
        body {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            header {
                display: grid;
                grid-template-areas: "logo nav" "logo nav" "logo nav" "logo nav";
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;
                ul {
                    line-height: 3rem;
                }
            }
            main {
                flex-direction: column;
                padding-bottom: 30%;
                padding-top: 10%;
                padding-left: 10%;
                align-items: center;
            }

            footer {
                position: bottom;
            }
        }
    }

    .index-main-background {
        flex-direction: column-reverse;
        padding-bottom: 10%;
    }

    /*ESTILOS ADAPTADOS*/

    .main-articulo {
        gap: 1rem;
        background-color: rgba($color: #868686, $alpha: 0.2);
        border-radius: 5%;
        width: 90%;
        height: auto;
    }

    .main-retrato {
        padding: 5%;
        align-items: center;
    }

    .contenedor-galeria {
        width: 90%;
        height: 80vh;
        overflow: scroll;
        flex-direction: column;
        align-content: flex-start;

        img {
            width: 70%;
            height: fit-content;
        }
    }

    .books {
        padding: 5%;
        .book-articulo {
            height: auto;
            background-color: rgba($color: #868686, $alpha: 0.3);
        }
        .contenedor-galeria {
            height: auto;
        }
    }

    .contacto-main-background {
        padding: 5%;
        .contacto-articulo {
            display: flex;
            flex-direction: column;
            height: 60%;
            align-items: center;
            width: 97vw;
        }
        fieldset {
            display: flex;
            flex-direction: row;
            font-size: larger;
            line-height: 1.2rem;
            width: 92vw;
            padding: 3%;
            .lista-formulario {
                width: 88vw;
                display: flex;
                flex-direction: row;
            }
            #contenedor-consulta {
                height: 30%;
            }
        }
    }

    /*QUERY CARROUSEL*/
    #contenedor-carousel {
        width: 98%;
    }
}
