body {
    height: 100vh;
    max-width: 100vw;
  }

  header {
    width: 20vw;
    height: 97vh;
  }

  main {
    width: 75vw;
    height: 97vh;
  }

  footer {
    height: 3vh;
    width: 95vw;
  }

  