/*TEST SETTINGS BOX*/

/* html {
    border-style: dashed;
    border-color: greenyellow
}

body {
    border-style: dashed;
    border-color: red
}

header {
    border-style: dashed;
    border-color: orange;
}

main {
    border-style: dashed;
    border-color: aqua;
    background-color: pink;
} */

/*MAIN BACKGROUND IMAGES*/

.index-main-background {
    background-image: url("../assets/img/Fondo\ Chico\ Color.jpg");
    background-size: cover;
}

.retrato-main-background {
    background-image: url("../assets/img/Fondo\ Chicho\ Bn.jpg");
    background-size: cover;
}

.books-main-background {
    background-image: url("../assets/img/Fondobook.jpg");
    background-size: cover;
}

.tienda-main-background {
    background-image: url("../assets/img/Fondo\ Estudio\ Color.jpg");
    background-size: cover;
}

.contacto-main-background {
    background-image: url('../../assets/img/Fondo\ Contacto.jpg');
    background-size: cover;
}

/*HEADER EN _NAVBAR.SCSS*/

/*FOOTER STYLES*/

footer {
    p {
        color: aliceblue;
        margin-bottom: 0;
    }

    aside {
        max-height: 3vh;
    }
}
